<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenfan.seckill.mapper.PromoteMapper" >
  <resultMap id="BaseResultMap" type="com.wenfan.seckill.entity.Promote" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="promote_name" property="promoteName" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="promote_item_price" property="promoteItemPrice" jdbcType="DOUBLE" />
  </resultMap>

  <select id="getPromoteByItemId" resultMap="BaseResultMap">
    SELECT id,promote_name,start_date,end_date,item_id,promote_item_price
    FROM promote
    WHERE item_id = #{itemId}
  </select>

  <select id="getAllPromotion" resultMap="BaseResultMap">
    SELECT id,promote_name,start_date,end_date,item_id,promote_item_price
    FROM promote
  </select>

  <select id="getPromoteByPromotionId" resultMap="BaseResultMap">
    SELECT id,promote_name,start_date,end_date,item_id,promote_item_price
    FROM promote
    WHERE id = #{promotionId}
  </select>

  <update id="update">
    UPDATE promote
    <set>
      <if test="promote.id != null">
        promote_name = #{promote.promoteName},start_date = #{promote.startDate},end_date = #{promote.endDate},item_id = #{promote.itemId},promote_item_price = #{promote.promoteItemPrice}
      </if>
    </set>
    WHERE id = #{promote.id}
  </update>

  <delete id="deletePromotion">
    DELETE
    FROM promote
    WHERE id = #{promotionId}
  </delete>

</mapper>